body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('./img/body.jpg');
    background-size: cover;
    font-size: 16px;
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para el juego de memoria */
.memory-container {
    flex: 1;
}

/* Estilos para la tabla de puntuaciones */
.scoreboard {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: center;
}

/* Estilos para la tabla de puntuaciones */
#usersTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}

#usersTable th, #usersTable td {
    padding: 8px 12px;
    border: 1px solid #fff;
    text-align: center;
}

#usersTable th {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

#usersTable tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

#usersTable tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/*ventanas emergentes*/
.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    top: 100%;
    transition: top 0.5s;
    font-family: 'Kingdom Hearts', sans-serif;
    z-index: 9999;
}

.popup-content {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #fff;
}

img {
    max-width: 100px;
    text-align: center;
    margin-bottom: -140px;
}

/*headers*/
h1 {
    padding-bottom: 10px;
    font-size: 60px;
    margin-bottom: -20px;
    font-family: 'Kingdom Hearts', sans-serif;
    text-align: center;
}

h2 {
    padding-bottom: 10px;
    font-size: 14px;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
    color: #fff;
}

h3 {
    padding-bottom: 0px;
    font-size: 60px;
    margin-bottom: -60px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h4 {
    padding-bottom: 0px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: #fff;
}


/*botones*/

/*retry diseño*/
#retryButton:disabled {
    opacity: 0.5;
    transition: opacity 0.3s;
}

#retryButton:enabled {
    opacity: 1;
    transition: opacity 0.3s;
}

#startButton {
    background: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#retryButton {
    background: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dimension-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dimension-buttons button {
    background: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

/*diseño cartas*/
.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    margin-top: 10px;
}

.memory-card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 24px;
    color: transparent;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card.flipped {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#playerName{
    margin-bottom: 10px;
}


/*contador*/
#timer {
    font-size: 35px;
    font-weight: bold;
    color: azure;
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 20px; /* Ajusta la distancia desde el lado izquierdo */
}